.heading__sm{
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $slate-two;
    margin-bottom: 55px;
}

.heading__lg{
    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    color: $slate-two;
    margin-bottom: 42px;
}