.header{
    padding: 38px 50px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 4;
    @include flexCenter(space-between);
    transition: all 0.3s ease;

    &__logo{
        line-height: 0;

        img{
            width: 194px;
            height: 35px;
        }
    }

    &__nav{
        
        #nav-check, .nav-btn{
            display: none;
        }

        .nav-links{
            display: flex;
    
            li{
                font-size: 14px;
                font-weight: bold;

                & + li{
                    margin-left: 44px;
                }
            }
        }
    }

    &__btn{
        border: none;
        background-color: transparent;
        color: white;
        font-size: 18px;
        cursor: pointer;

        &:first-child{
            margin-right: 30px;
        }

    }
    
}

.header-colored{
    background-color: #00b4d8;
    padding: 24px 50px;
}

.header-transparent{
    background-color: transparent;
}