.programs{
    margin-top: 160px;
    display: flex;

    &__desc{
        margin-right: 150px;
    }

    &__figure{

        img{
            width: 470px;
            height: 562px;
        }
    }
}