.turtle-trips{
    width: 100%;
    margin-top: 250px;
    display: flex;

    &__figure{
        margin-right: 100px;

        img{
            width: 500px;
            height: 600px;
        }
    }
}