.turtle-stats{
    margin-top: 160px;
    display: flex;
    margin-bottom: 40px;

    &__left{
        h2{
            @extend %heading-lg;
            width: 60%;
        }
    
        p{
            @extend %paragraph;
            width: 65%;
        }

        .turtle-stats__stats{
            display: inline-flex;

            div{
                margin-right: 30px;

                &:last-child{
                    margin-right: 0;
                }

                span{
                    font-size: 80px;
                    font-weight: 300;
                    color: $algae-green;
                }

                h5{
                    font-size: 14px;
                    font-weight: bold;
                    text-transform: uppercase;
                }
            }
        }
    }

    &__right{
        padding: 105px 70px;
        border: 4px solid $algae-green;
        @include flexCenter(center);
        flex-direction: column;
        align-self: flex-end;
        
        span{
            font-size: 80px;
            font-weight: 300;
            color: $algae-green;
        }

        h5{
            font-size: 22px;
            font-weight: bold;
            color: $slate-two;
            text-transform: uppercase;
        }
    }
}